@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;600;700&display=swap');


html {
  scroll-behavior: smooth;
}

.name {
  color : white;
  text-align : right;
  margin-left: auto;
  margin-right: 30px;
  font-size : 18px;
  font-weight: 400;
}

* {
  font-family : 'Montserrat';
}

header {
  display : flex;
  align-items: center;
  font-size: 18px;
}

header img {
  width : 60px;
  margin : 20px 40px;
  height : auto;
}

body {
  margin : 0 auto;
}

/* Debut pages */

section.haut_page {
  background : url('../images/img-accueil-site.png');
  background-size : cover;
  height:  80vh;
}

/*accueil*/

.accueil_site {
  padding : 20px 50px;
}


.scroll_down {
  color : white;
  text-decoration: none;
  position: absolute;
  bottom : 200px;
  font-size: large;
}

.titre_principal {
  color : white;
  font-size: 100px;
  font-family : 'Abril Fatface';
  width : 700px;
  
}
/*navigation */
nav.nav {
  display : flex;
  list-style: none; 
  margin: 30px 10px;
  width : 380px; 
  justify-content : space-between;
   
}

nav.nav li{
  color : white; 
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 20px;
  font-weight: 400;
  
}

nav.nav li a{
  color : white; 
  text-decoration: none;
  
}

/* Liens utiles */

.liens-utiles {
  display :flex;
  justify-content : center;
  margin-top: 80px;
  gap : 300px;
}

.icones {
  display : flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icones-liens {
  font-size : 50px;
  color : black;
  
}
.txt-icones {
  font-weight: 600;
}

/* Formation */

.Formation {
  margin : 100px;
}

.formation-titre {
  font-size: 50px;
  margin: 20px;
  font-family : 'Abril Fatface';
  font-weight: 300;
  position : relative;

}
.formation-titre::before {
  content : '';
  width : 150px;
  height : 10px;
  background-color : rgb(160, 160, 239);
  position : absolute;
  bottom : -10px;
}

/* Sous pages */

.sous_pages {
  min-height: 500px;
  display: flex; 
  flex-wrap: wrap;
  gap: 15px;
}

.img_annees {
  position: relative;
  background-size: cover;
  background-position: center;
  min-width: 350px;
  min-height: 500px;
  flex: 1 ;

}

.a_1 {
  background-image: url(../images/img_1ere_annee_elen_page1.png);
}

.a_2 {
  background-image: url(../images/img_2eme_annee_page1.png);
}

.a_alter {
  background-image: url(../images/Site_vitre.png);
}

.a_comp_BUT1 {
  background-image: url(../images/img_grille_BUT1.png);
}

.detail_page {
  background-color: #FFFFFFDF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position : absolute;
  bottom : 0;
  width : 100%;
  padding : 5px 20px;
}

.detail_page p{
  font-family: "Playfair Display", "Georgia", serif;
}


.nom_page {
  font-size : 24px;
  font-weight: 600;
}

.lien {
  background-color: rgba(200, 200, 200, 0.9);
  padding: 8px 15px;
  border-radius: 20px;
  display: inline-block;
  font-weight: 700;
  color: #333;
  text-decoration: none;
  align-self: flex-end;
  margin-top: -50px;
  margin-right: 40px;
  
}


.description {
  color : grey;
  font-weight: 800;
}

/* Projets */

.projets {
  margin : 100px;
}

.projet-titre {
  font-size: 50px;
  margin: 20px;
  font-family : 'Abril Fatface';
  font-weight: 300;
  position : relative;
}

.projet-titre::before {
  content : '';
  width : 150px;
  height : 10px;
  background-color : rgb(160, 160, 239);
  position : absolute;
  bottom : -10px;
}

.img_projets {
  position: relative;
  background-size: cover;
  background-position: center;
  min-width: 350px;
  min-height: 500px;
  flex: 1 ;

}

.p_1 {
  background-image: url(../images/poulailler/porte-poulailler-v2.png);
}

.p_2 {
  background-image: url(../images/img_2eme_annee_page1.png);
}

.p_3 {
  background-image: url(../images/Site_vitre.png);
}

/* Contact */
.Contact {
  margin : 0px;
  
} 

.contact-titre { 
  font-size: 50px;
  margin: 120px;
  font-family : 'Abril Fatface';
  font-weight: 300;
  position : relative;
}

.contact-titre::before {
  content : '';
  width : 150px;
  height : 10px;
  background-color : rgb(160, 160, 239);
  position : absolute;
  bottom : -10px;
}

.icones-contact {
  font-size: 50px;
  display :flex;
  justify-content : center;
  gap : 270px;
}

.titre_icones_contact {
  font-size : 18px;
  font-weight: 600;
  margin-top : 10px;
}

.descrpt_icones_contact {
  font-size : 14px;
  margin-top: -15px;;
}



.titres_secondaires {
  font-size: 50px;
  margin: 20px;
  font-family: "Playfair Display", "Georgia", serif;
  font-weight: 300;
  position : relative;
}

.titres_secondaires::before {
  content : '';
  width : 150px;
  height : 10px;
  background-color : rgb(160, 160, 239);
  position : absolute;
  bottom : -10px;
}

.retour-start {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 110px;
}





.pied-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;;
  margin-left : 70px;
  
}


/* style sous-pages*/

.Compétences {
  margin : 100px;
}

.images_apercu {
  display : flex;
}

.SAE {
  margin : 100px;
}

